doctype html
html
  head
    title Webcam x Particle
    link(rel='stylesheet' href='./css/index.styl')
  body
    canvas#canvas

    .thumb#video-wrapper
      video.video(src='video/Dance-4428.mp4')
        | Dance
      video.video(src='video/Rotting_Christ.mp4')
        | Rotting Christ
      video.video(src='video/Concert-172.mp4')
        | Concert 172

    script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.1/dat.gui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenLite.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineMax.min.js')
    script(src='./script/index.js')
