doctype html
html
  head
    title Webcam x Particle
    link(rel='stylesheet' href='./css/index.styl')
  body
    canvas#canvas

    script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.1/dat.gui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenLite.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineMax.min.js')
    script(src='./script/index.js')
