doctype html
html
  head
    title Webcam x Particle
    link(rel='stylesheet' href='./styles/index.styl')
  body
    canvas#canvas

    .thumb#video-wrapper
      //- img.video(src="http://your.ip.address:8080/video", crossorigin="anonymous")#smartphone
      video.video.js-video(src='videos/Dance-4428.mp4', id="Dance-4428")
        | Dance
        // https://pixabay.com/ja/videos/%E3%83%80%E3%83%B3%E3%82%B9-%E9%80%9A%E3%82%8A-%E4%BA%BA-%E5%A5%B3%E6%80%A7-%E5%A5%B3%E3%81%AE%E5%AD%90-%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB-%E3%82%A2%E3%82%AF%E3%83%86%E3%82%A3%E3%83%96-%E7%94%B7%E6%80%A7-4428/
      video.video.js-video(src='videos/Rotting_Christ-1275.mp4', id="Rotting_Christ-1275")
        | Rotting Christ
        // https://pixabay.com/ja/videos/%E8%85%90%E6%95%97%E3%81%AE%E3%82%AD%E3%83%AA%E3%82%B9%E3%83%88-%E7%9F%B3-%E3%82%B3%E3%83%B3%E3%82%B5%E3%83%BC%E3%83%88-%E3%83%90%E3%83%B3%E3%83%89-%E3%83%98%E3%83%93%E3%83%BC%E3%83%A1%E3%82%BF%E3%83%AB-1275/

    #detector
      detector(:is-show="isShow", :is-ready="isReady")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.1/dat.gui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenLite.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js')
    script(src='./scripts/index.js')
